<html lang="{{ config.lang }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ config.url }}/feed.xml"/>
    {% include "meta.njk" %}
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@0.6.0/modern-normalize.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@native-elements/core/dist/native-elements.min.css"/>
     {% block head %}{% endblock %}

    <link rel="stylesheet" href="/assets/css/font.css" />
    {% if env.IS_DEV %}
      <link rel="stylesheet" href="/assets/css/app.css" />
    {% else %}
      <style>{% include "../../../dist/assets/css/app.css" %}</style>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/what-input@5.2.6/dist/what-input.min.js" defer></script>
    <script src="/assets/js/app.js" defer></script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Alessio Occhipinti",
        "url": "https://godev.space",
        "image": "https://godev.space/cover.png",
        "sameAs": [
          "https://twitter.com/lasalefamine",
          "https://linkedin.com/in/alessioocchipinti",
          "https://github.com/LasaleFamine"
        ],
        "jobTitle": "Frontend Engineer"
      }
    </script>

    {% if not env.IS_DEV %}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P6W3BRT');</script>
      <!-- End Google Tag Manager -->
     {% endif %}
  </head>
  <body>
    {% if not env.IS_DEV %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6W3BRT"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% block content %}{% endblock content %}
    <script>
      {% if not env.IS_DEV %}
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
      {% endif %}
    </script>
  </body>
</html>
